<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <h2>Make a job</h2>
    <form method="POST">
      <label for="jobname">Job Name:</label>
      <input type="text" id="jobname" name="jobname" required>
  
      <button type="submit">Create Job</button>
  </form>
  
  <h2>Jobs and Associated Users</h2>
  <ul>
      {% for job in jobs %}
          <li>
              <strong>{{ job.title }}</strong>
              <ul>
                  {% for user in job.users %}
                      <li>{{ user.username }}</li>
                  {% endfor %}
              </ul>
          </li>
      {% endfor %}
  </ul>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>
