<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <h1>Accessibility options</h1>
    <h2>Font size</h2>
    <h3>Language</h3>
    <h4>Dark mode</h4>  <!--someone put a button here pls like on/off-->
    <h5>High contrast</h5> <!--someone put a button here pls like on/off-->
    <h6>Text to speech</h6> <!--someone put a button here pls like on/off-->
    <h7>Screen reader</h7> <!--someone put a button here pls like on/off-->
<!--  idk add whatever you want here add make all of these button cause I can't be bothered-->
</head>
<a href="{{ url_for('home') }}">Home</a>
<body>

</body>
</html>